*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.App {
  text-align: center;
}

.container{
  width: 100%;
  height: 95vh;
  display: flex;
}

.navbar{
  width: 20%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.filter-tags > button{
  width: 70%;
  height: 30px;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.add-new-tag{
  height: 16%;
}

.add-new-tag > .main-btn{
  width: 50%;
  height: 30px;
  background-color: #000;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  margin-bottom: 1rem;
  outline: none;
}

.input-tag{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
}

.input-tag > input{
  width: 70%;
  height: 25px;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
  border: 1px solid black;
  outline: none;
  padding: 0.5rem;
}

.input-tag > button{
  width: 40%;
  height: 30px;
  background-color: #fff;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.save-tag{
  background-color: rgb(175, 241, 175) !important;
  margin-right: 0.5rem;
}

.close{
  background-color: rgb(243, 154, 154) !important;
}

.mainsection{
  width: 80%;
  height: 100%;
  background-color: #f7f1e3;
  padding-top: 2rem;
}

.addnewnote{
    width: 90%;
    padding: 1rem 2rem;
    margin: 0 auto;
    position: relative;
    background-color: #F3F4F6;
    border-radius: 0.5rem;
}

.pin{
    position: absolute;
    top: 11%;
    right: 0%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.pin > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(0.6);
}

.addnewnote > input[type="text"]{
    display: block;
    width: 95%;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    outline: none;
    border: none;
    border-radius: 0.1rem;
}

.bottom-inputs > select{
  width: 20%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.bottom-inputs{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.bottom-inputs > select{
  width: 20%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.bottom-inputs > button{
  padding: 0.5rem 2rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.bottom-inputs :nth-child(3){
  background-color: #000;
  color: #fff;
}

.colors{
    font-size: 0.9rem;
    width: 23%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: initial;
    background-color: #fff;
    border-radius: 0.5rem;
}

.color-pill{
    display: inline-block !important;
    width: 20px;
    height: 20px;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
}

.pinned, .others{
  width: 100%;
  min-height: 40vh;
  background-color: #f7f1e3;
  display: flex;
  justify-content: space-around;
  padding: 2rem 4rem;
  flex-wrap: wrap;
}

.card{
  width: 350px;
  height: 220px;
  background-color: #FECACA;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 2rem;
  border: 4px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
}

.cardbtn{
  width: 80px;
  font-size: 0.7rem;
  background-color: transparent;
  padding: 0.1rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.card-category{  
  display: block;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

.card > h3{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card > p{
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.card .pin{
  width: 30px;
  height: 30px;
  top: 2%;
}

.card-bottom-btns{
  width: 90%;
  position: absolute;
  bottom: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete{
  border: 1px solid rgb(236, 130, 130);
  color: rgb(247, 134, 134);
}